@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-background: #2f74c0;
  --secondary-background: #388ae2;
  --bright-text-color:#fff;
  --dark-color:#000;
}
html {
  font-size: 62.5%;
  font-family: "Neucha", "Poppins", sans-serif;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--primary-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--bright-text-color);
  margin: 3rem 0;
  text-align: center;
}


@media screen and (max-width:800px) {
  .heading {
    margin: 1.5rem 0;
    font-size: 3.5rem;
  }
}